<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE-edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CoolStuff</title>
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/sass/main.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="assets/js/functions.js"></script>
</head>
<body ng-app="ProductApp" ng-controller="ctr">
    <header class="mainHeader">
       <span>TOPPLISTAN</span>
    </header>

    <div id="MainContent">

        <div class="square" ng-repeat="data in myData | limitTo:ProductItems">
            <div class="content">
                <div class="table">
                    <div class="table-cell">
                        <img class="rs" src="/assets/img/pic-1.jpg"/>
                        <span class="itemTitle">{{data.Title}}</span>
                        <div class="priceWrapper">
                            <div class="price">{{data.Price | customCurrency:' :-':false}}</div>
                            <div class="rates rates-{{data.Rate}}">
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nb">{{myData.indexOf(data) + 1}}</div>
        </div>

        <div class="square">
            <div class="content">
                <div class="table">
                    <div class="table-cell">
                        <div class="load" ng-click="load(myData.length)">
                            <span class="plus">+</span><br>
                            <span>VISA FLER BÄSTÄSALJARE </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clb"></div>

    </div>
</body>
</html>