* {
  margin: 0px;
  padding: 0px;
  text-decoration: none; }

body {
  background-color: #e8e8e8; }

.mainHeader {
  height: 50px;
  max-width: 971px !important;
  background-color: #ff9207;
  margin: 50px auto 0 auto;
  transition: all 0.5s ease-in-out; }
  .mainHeader span {
    color: #FFFFFF;
    font-size: 20pt;
    font-weight: 900;
    font-family: sans-serif;
    line-height: 50px;
    margin-left: 10px; }

@media (max-width: 975px) {
  .mainHeader {
    margin: 50px 10px 0 10px !important; } }
body {
  font-size: 20px;
  font-family: "Lato", verdana, sans-serif;
  color: #fff;
  background: #ECECEC; }

#MainContent {
  min-height: 263px !important;
  max-width: 971px !important;
  margin: 13px auto 0 auto;
  transition: all 0.5s ease-in-out; }

.square {
  position: relative;
  width: 24%;
  padding-bottom: 24%;
  background-color: #FFFFFF;
  overflow: hidden;
  margin-bottom: 13px;
  box-shadow: 0px 0px 2px 1px #cdcdcd;
  float: left;
  margin: 0.5%; }

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0; }

.table {
  display: table;
  width: 100%;
  height: 100%; }

.table-cell {
  display: table-cell;
  vertical-align: top; }

.nb {
  height: 30px;
  width: 30px;
  background-color: #ff9207;
  position: absolute;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  line-height: 30px; }

/*  This is for responsive image */
.content .rs {
  width: auto;
  height: auto;
  max-height: 90%;
  max-width: 100%; }

.itemTitle {
  font-family: sans-serif;
  font-size: 12pt;
  font-weight: 400;
  color: #5a6169;
  margin-left: 10px;
  min-width: 150px; }

.priceWrapper {
  width: 90%;
  height: 30px;
  margin: 5px auto 0 auto;
  line-height: 30px;
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row;
  flex-wrap: nowrap !important; }
  .priceWrapper .price {
    color: #8e9295;
    font-family: sans-serif;
    font-size: 12pt; }
  .priceWrapper .rates {
    margin-right: 0px !important; }
    .priceWrapper .rates li {
      height: 14px;
      width: 14px;
      display: inline-block;
      background-color: #ff9207;
      margin-right: 5px;
      border-radius: 50%; }
      .priceWrapper .rates li:after {
        content: "";
        display: block;
        border-radius: 50%;
        margin: 2px;
        width: 10px;
        height: 10px; }
  .priceWrapper .rates-1 li:nth-child(n+2), .priceWrapper .rates-2 li:nth-child(n+3), .priceWrapper .rates-3 li:nth-child(n+4), .priceWrapper .rates-4 li:nth-child(n+5) {
    background-color: #eeeeee; }
  .priceWrapper .rates-NoRate {
    display: none; }

.clb {
  clear: both; }

.load {
  height: 90%;
  width: 90%;
  margin-top: 4%;
  margin-left: 4%;
  border: 2px dashed #c6c6c6;
  color: #1fa8df;
  text-align: center;
  font-weight: bold;
  cursor: pointer; }
  .load .plus {
    font-size: 80pt;
    font-weight: normal !important; }

@media (max-width: 900px) {
  .square {
    width: 32% !important;
    padding-bottom: 32%;
    margin: 0.6% !important; } }
@media (max-width: 680px) {
  .square {
    width: 49% !important;
    padding-bottom: 49%;
    margin: 0.5% !important; } }
@media (max-width: 450px) {
  .square {
    width: 100% !important;
    padding-bottom: 100%;
    margin: 0 0 13px 0 !important; } }
@media (max-width: 975px) {
  #MainContent {
    margin: 13px 10px 0 10px !important; } }

/*# sourceMappingURL=main.css.map */
