=item-align($width,$padding-buttom,$margin)
  width: $width!important
  padding-bottom : $padding-buttom
  margin: $margin!important

body
  font-size: 20px
  font-family: 'Lato',verdana, sans-serif
  color: #fff
  background: #ECECEC

#MainContent
  min-height: 263px!important
  max-width: 971px!important
  margin: 13px auto 0 auto
  transition: all 0.5s ease-in-out

.square
  position: relative
  width: 24%
  padding-bottom : 24%
  background-color: #FFFFFF
  overflow: hidden
  margin-bottom: 13px
  box-shadow: 0px 0px 2px 1px #cdcdcd
  float: left
  margin: 0.5%

.content
  position: absolute
  height: 100%
  width: 100%
  padding: 0


.table
  display: table
  width: 100%
  height: 100%

.table-cell
  display: table-cell
  vertical-align: top

.nb
  height: 30px
  width: 30px
  background-color: $headerColor
  position: absolute
  font-family: sans-serif
  text-align: center
  font-weight: bold
  line-height: 30px

/*  This is for responsive image */

.content .rs
  width: auto
  height: auto
  max-height: 90%
  max-width: 100%

.itemTitle
  font-family: sans-serif
  font-size: 12pt
  font-weight: 400
  color: $titleColor
  margin-left: 10px
  min-width: 150px
.priceWrapper
  width: 90%
  height: 30px
  margin: 5px auto 0 auto
  line-height: 30px
  display: flex!important
  justify-content: space-between!important
  flex-direction: row
  flex-wrap:  nowrap!important

  .price
    color: #8e9295
    font-family: sans-serif
    font-size: 12pt
  .rates
    margin-right: 0px!important
    li
      height: 14px
      width: 14px
      display: inline-block
      background-color: $headerColor
      margin-right: 5px
      border-radius: 50%
      &:after
        content: ''
        display: block
        border-radius: 50%
        margin: 2px
        width: 10px
        height: 10px


  .rates-1 li:nth-child(n+2),.rates-2 li:nth-child(n+3),.rates-3 li:nth-child(n+4),.rates-4 li:nth-child(n+5)
    background-color: $rateGray
  .rates-NoRate
    display: none

.clb
  clear: both

.load
  height: 90%
  width: 90%
  margin-top: 4%
  margin-left: 4%
  border: 2px dashed $loadBorderColor
  color: $loadTextColor
  text-align: center
  font-weight: bold
  cursor: pointer
  .plus
    font-size: 80pt
    font-weight: normal!important


@media (max-width: 900px)
  .square
    +item-align(32%,32%,0.6%)

@media (max-width: 680px)
  .square
    +item-align(49%,49%,0.5%)

@media (max-width: 450px)
  .square
    +item-align(100%,100%,0 0 13px 0)



@media (max-width: 975px)
  #MainContent
    margin: 13px 10px 0 10px!important
