.mainHeader
  height: 50px
  max-width: 971px!important
  background-color: $headerColor
  margin: 50px auto 0 auto
  transition: all 0.5s ease-in-out

  span
    color: $pageTitleColor
    font-size: 20pt
    font-weight: 900
    font-family: sans-serif
    line-height: 50px
    margin-left: 10px


@media (max-width: 975px)
  .mainHeader
    margin: 50px 10px 0 10px!important